[submodule "Advanced-Programming-course"]
	path = Advanced-Programming-course
	url = git@github.com:Man2Dev/Advanced-Programming-course.git
[submodule "Algorithms-Design-course"]
	path = Algorithms-Design-course
	url = git@github.com:Man2Dev/Algorithms-Design-course.git
[submodule "Basics-of-Computer-and-Programming-course"]
	path = Basics-of-Computer-and-Programming-course
	url = git@github.com:Man2Dev/Basics-of-Computer-and-Programming-course.git
[submodule "Microprocessor-and-Assembly-Language-course"]
	path = Microprocessor-and-Assembly-Language-course
	url = git@github.com:Man2Dev/Microprocessor-and-Assembly-Language-course.git
[submodule "Computer-Architecture-course"]
	path = Computer-Architecture-course
	url = git@github.com:Man2Dev/Computer-Architecture-course.git
[submodule "Systems-Analysis-and-Design-course"]
	path = Systems-Analysis-and-Design-course
	url = git@github.com:Man2Dev/Systems-Analysis-and-Design-course.git
[submodule "Computer-Design-of-Digital-Systems-course"]
	path = Computer-Design-of-Digital-Systems-course
	url = git@github.com:Man2Dev/Computer-Design-of-Digital-Systems-course.git
[submodule "Computer-Networks-course"]
	path = Computer-Networks-course
	url = git@github.com:Man2Dev/Computer-Networks-course.git
[submodule "Computer-Networks-Lab-course"]
	path = Computer-Networks-Lab-course
	url = git@github.com:Man2Dev/Computer-Networks-Lab-course.git
[submodule "Data-Structure-course"]
	path = Data-Structure-course
	url = git@github.com:Man2Dev/Data-Structure-course.git
[submodule "Database-course"]
	path = Database-course
	url = git@github.com:Man2Dev/Database-course.git
